{% extends 'base.html' %}
{% block conteudo %}
<form action="/excluir" method="POST">
    <label>CPF: </label>
    <input type="text" name="cpfExcluir" id="cpf3"/><br><br>
    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        EXCLUIR
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        {% if sucesso %}
                            EXCLUIDO COM SUCESSO
                        {% elif erro %}
                            ERRO AO EXCLUIR
                        {% else %}
                            CONFIRMAÇÃO
                        {% endif %}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ok</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
